
<ion-content>
<div class="container" style="padding: 0.4em;">
  <ion-row>
      <ion-card color=success style=" width: 100%;background-color: #2298F1;">
        <ion-card-header style="	font-family: Montserrat, Helvetica, Open Sans, Arial">
          Cotações Realizadas
        </ion-card-header>    
      
          <ion-card-content  style="	font-family: Montserrat, Helvetica, Open Sans, Arial"> 
          <ion-row>
            <ion-col size="3"><h3 style="padding: 0.5em; margin-top: -5px;">6</h3></ion-col>
            <ion-col size="9">Cotações realizadas ao total</ion-col>
            
          
          </ion-row>
          </ion-card-content>
          <hr style="background-color: white; width: 90%; text-align: center;">
          <ion-row style="text-align: center; font-family: Montserrat, Helvetica, Open Sans, Arial" class="cardfooter">
         
            <ion-col size="12">
              <p>Vizualizar cotações</p>
            </ion-col>
          </ion-row>
    
        </ion-card>
</ion-row>

<ion-row>
  <ion-card color=success style=" width: 100%;background-color: #DA932C">
    <ion-card-header style="	font-family: Montserrat, Helvetica, Open Sans, Arial">
      Cotações em Trânsito
    </ion-card-header>    
  
      <ion-card-content  style="	font-family: Montserrat, Helvetica, Open Sans, Arial"> 
      <ion-row>
        <ion-col size="3"><h3 style="padding: 0.5em; margin-top: -5px;">1</h3></ion-col>
        <ion-col size="9">Cotações em Trânsito ao total</ion-col>
        
      
      </ion-row>
      </ion-card-content>
      <hr style="background-color: white; width: 90%; text-align: center;">

      <ion-row style="text-align: center; font-family: Montserrat, Helvetica, Open Sans, Arial" class="cardfooter">
        <ion-col size="6">
        <p>Nova cotação</p>
        </ion-col>
        <ion-col size="6">
          <p>Vizualizar cotações</p>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-row>

<ion-row>
  <ion-card color=success style=" width: 100%;background-color: #66B92E;">
    <ion-card-header style="	font-family: Montserrat, Helvetica, Open Sans, Arial">
      Cotações Futuras
    </ion-card-header>    
  
      <ion-card-content  style="	font-family: Montserrat, Helvetica, Open Sans, Arial"> 
      <ion-row>
        <ion-col size="3"><h3 style="padding: 0.5em; margin-top: -5px;">9</h3></ion-col>
        <ion-col size="9">Cotações futuras ao total ao total</ion-col>
        
      
      </ion-row>
      </ion-card-content>
      <hr style="background-color: white; width: 90%; text-align: center;">

      <ion-row style="text-align: center; font-family: Montserrat, Helvetica, Open Sans, Arial" class="cardfooter">
        <ion-col size="6">
        <p>Nova cotação</p>
        </ion-col>
        <ion-col size="6">
          <p>Vizualizar cotações</p>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-row>
<ion-row>


  <ion-card color=success style=" width: 100%;background-color: #D65B4A;">
    <ion-card-header style="	font-family: Montserrat, Helvetica, Open Sans, Arial">
      Cotações  Desistidas
    </ion-card-header>    
  
      <ion-card-content  style="	font-family: Montserrat, Helvetica, Open Sans, Arial"> 
      <ion-row>
        <ion-col size="3"><h3 style="padding: 0.5em; margin-top: -5px;">2</h3></ion-col>
        <ion-col size="9">Cotações desistidas ao total</ion-col>
        
      
      </ion-row>
      </ion-card-content>
      <hr style="background-color: white; width: 90%; text-align: center;">

      <ion-row style="text-align: center; font-family: Montserrat, Helvetica, Open Sans, Arial" class="cardfooter">
         
        <ion-col size="12">
          <p>Vizualizar cotações</p>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-row>
<br>
  <ion-button expand="block" (click)="cotacao()">Criar Cotação</ion-button>

</div>
</ion-content>
