

<ion-content>
  <div class="wrapper" >
    <div class="container">
      <BR>
      <h2 style="font-family: 'Montserrat', sans-serif;">Frete App</h2>
      <form [formGroup]="form" style="margin-top: 100px;">
      
        <input type="text" formControlName="user" id="user" placeholder="Username">
<br>        
        <input type="password" formControlName="password" id="password" placeholder="Password">
<br><br><br>
        <div class="container" style="padding: 2em;">
        <ion-button id="login-button" (click)="login($event)" expand="block">Login</ion-button>
</div>
      </form>
      </div>
   
    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</ion-content>
