body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: radial-gradient(center, ellipse cover, #27364f 0%, #112 50%, #112 100%);
    background: -moz-radial-gradient(center, ellipse cover, #27364f 0%, #112 50%, #112 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #27364f), color-stop(50%, #112), color-stop(100%, #112));
    background: -webkit-radial-gradient(center, ellipse cover, #27364f 0%, #112 50%, #112 100%);
    background: -o-radial-gradient(center, ellipse cover, #27364f 0%, #112 50%, #112 100%);
    background: -ms-radial-gradient(center, ellipse cover, #27364f 0%, #112 50%, #112 100%);
    filter: 'progid:DXImageTransform.Microsoft.gradient( startColorstr=' #27364f ', endColorstr=' #112 ',GradientType=1 )';
    background-position: 50% 0%;
    background-size: 150vmax 150vmax;
    background-repeat: no-repeat;
    background-color: #112;
  }
  .stars .container {
    position: absolute;
    animation: stars linear infinite;
  }
  .stars .container .star {
    animation: twinkle linear infinite;
    border-radius: 100%;
    transform: translateZ(0);
  }
  .stars .container:nth-child(0) {
    width: 3px;
    height: 3px;
    left: 67.5vw;
    animation-delay: -997.3333333333334s;
    animation-duration: 43.86666666666667s;
  }
  .stars .container:nth-child(0) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.8s;
    animation-duration: 12.9s;
    background: rgba(212,225,171,0.8);
  }
  .stars .container:nth-child(1) {
    width: 1px;
    height: 1px;
    left: 67vw;
    animation-delay: -998.4s;
    animation-duration: 77.6s;
  }
  .stars .container:nth-child(1) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.4s;
    animation-duration: 49.9s;
    background: rgba(255,190,235,0.7);
  }
  .stars .container:nth-child(2) {
    width: 2px;
    height: 2px;
    left: 4vw;
    animation-delay: -997.3s;
    animation-duration: 116.6s;
  }
  .stars .container:nth-child(2) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.1s;
    animation-duration: 17.1s;
    background: #fcbdaf;
  }
  .stars .container:nth-child(3) {
    width: 1px;
    height: 1px;
    left: 7.5vw;
    animation-delay: -996.4s;
    animation-duration: 124.2s;
  }
  .stars .container:nth-child(3) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.2s;
    animation-duration: 30.7s;
    background: #fbfc6a;
  }
  .stars .container:nth-child(4) {
    width: 1px;
    height: 1px;
    left: 87vw;
    animation-delay: -986.6s;
    animation-duration: 84.6s;
  }
  .stars .container:nth-child(4) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.2s;
    animation-duration: 23.1s;
    background: #e1f7cf;
  }
  .stars .container:nth-child(5) {
    width: 1px;
    height: 1px;
    left: 15vw;
    animation-delay: -984.4s;
    animation-duration: 110.4s;
  }
  .stars .container:nth-child(5) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.2s;
    animation-duration: 16.9s;
    background: rgba(213,170,147,0.9);
  }
  .stars .container:nth-child(6) {
    width: 3px;
    height: 3px;
    left: 80vw;
    animation-delay: -995.8666666666667s;
    animation-duration: 72.8s;
  }
  .stars .container:nth-child(6) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46s;
    animation-duration: 43.9s;
    background: #d4aaf5;
  }
  .stars .container:nth-child(7) {
    width: 2px;
    height: 2px;
    left: 92.5vw;
    animation-delay: -997.9s;
    animation-duration: 102.4s;
  }
  .stars .container:nth-child(7) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.9s;
    animation-duration: 16.6s;
    background: rgba(220,209,253,0.8);
  }
  .stars .container:nth-child(8) {
    width: 3px;
    height: 3px;
    left: 29vw;
    animation-delay: -996.6s;
    animation-duration: 36.733333333333334s;
  }
  .stars .container:nth-child(8) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.1s;
    animation-duration: 46.1s;
    background: rgba(212,216,170,0.9);
  }
  .stars .container:nth-child(9) {
    width: 1px;
    height: 1px;
    left: 78.5vw;
    animation-delay: -986.6s;
    animation-duration: 84s;
  }
  .stars .container:nth-child(9) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.6s;
    animation-duration: 14.8s;
    background: rgba(246,219,235,0.7);
  }
  .stars .container:nth-child(10) {
    width: 2px;
    height: 2px;
    left: 30.5vw;
    animation-delay: -995.3s;
    animation-duration: 187.2s;
  }
  .stars .container:nth-child(10) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.1s;
    animation-duration: 32.4s;
    background: rgba(217,250,238,0.9);
  }
  .stars .container:nth-child(11) {
    width: 3px;
    height: 3px;
    left: 75.5vw;
    animation-delay: -998.6s;
    animation-duration: 45.93333333333334s;
  }
  .stars .container:nth-child(11) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.9s;
    animation-duration: 41.8s;
    background: rgba(235,213,145,0.8);
  }
  .stars .container:nth-child(12) {
    width: 1px;
    height: 1px;
    left: 4.5vw;
    animation-delay: -986.8s;
    animation-duration: 165.2s;
  }
  .stars .container:nth-child(12) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.9s;
    animation-duration: 25.8s;
    background: rgba(253,185,225,0.9);
  }
  .stars .container:nth-child(13) {
    width: 3px;
    height: 3px;
    left: 98.5vw;
    animation-delay: -996.3333333333334s;
    animation-duration: 108s;
  }
  .stars .container:nth-child(13) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.8s;
    animation-duration: 28.4s;
    background: rgba(210,255,212,0.8);
  }
  .stars .container:nth-child(14) {
    width: 2px;
    height: 2px;
    left: 99vw;
    animation-delay: -990.7s;
    animation-duration: 37.1s;
  }
  .stars .container:nth-child(14) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.9s;
    animation-duration: 24s;
    background: #d3e79a;
  }
  .stars .container:nth-child(15) {
    width: 3px;
    height: 3px;
    left: 2vw;
    animation-delay: -994.8666666666667s;
    animation-duration: 129.79999999999998s;
  }
  .stars .container:nth-child(15) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.7s;
    animation-duration: 47.5s;
    background: rgba(243,253,250,0.9);
  }
  .stars .container:nth-child(16) {
    width: 3px;
    height: 3px;
    left: 6.5vw;
    animation-delay: -993.5333333333333s;
    animation-duration: 28s;
  }
  .stars .container:nth-child(16) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.6s;
    animation-duration: 29.7s;
    background: rgba(252,181,228,0.8);
  }
  .stars .container:nth-child(17) {
    width: 3px;
    height: 3px;
    left: 75.5vw;
    animation-delay: -996.2666666666667s;
    animation-duration: 132.66666666666666s;
  }
  .stars .container:nth-child(17) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.9s;
    animation-duration: 13.1s;
    background: rgba(233,185,132,0.7);
  }
  .stars .container:nth-child(18) {
    width: 1px;
    height: 1px;
    left: 39.5vw;
    animation-delay: -983.2s;
    animation-duration: 259.2s;
  }
  .stars .container:nth-child(18) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.2s;
    animation-duration: 21s;
    background: rgba(204,207,254,0.9);
  }
  .stars .container:nth-child(19) {
    width: 1px;
    height: 1px;
    left: 65.5vw;
    animation-delay: -994.4s;
    animation-duration: 271.6s;
  }
  .stars .container:nth-child(19) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.7s;
    animation-duration: 11.7s;
    background: rgba(230,224,249,0.7);
  }
  .stars .container:nth-child(20) {
    width: 3px;
    height: 3px;
    left: 24.5vw;
    animation-delay: -993.6s;
    animation-duration: 16.333333333333332s;
  }
  .stars .container:nth-child(20) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.8s;
    animation-duration: 36s;
    background: rgba(225,210,200,0.9);
  }
  .stars .container:nth-child(21) {
    width: 3px;
    height: 3px;
    left: 18vw;
    animation-delay: -995.0666666666667s;
    animation-duration: 108.39999999999999s;
  }
  .stars .container:nth-child(21) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.7s;
    animation-duration: 25.7s;
    background: rgba(242,243,172,0.9);
  }
  .stars .container:nth-child(22) {
    width: 1px;
    height: 1px;
    left: 38.5vw;
    animation-delay: -995.2s;
    animation-duration: 326.4s;
  }
  .stars .container:nth-child(22) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41s;
    animation-duration: 43.4s;
    background: rgba(226,186,146,0.7);
  }
  .stars .container:nth-child(23) {
    width: 3px;
    height: 3px;
    left: 31vw;
    animation-delay: -997.2666666666667s;
    animation-duration: 86.73333333333333s;
  }
  .stars .container:nth-child(23) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.4s;
    animation-duration: 24.9s;
    background: rgba(226,166,180,0.8);
  }
  .stars .container:nth-child(24) {
    width: 1px;
    height: 1px;
    left: 22vw;
    animation-delay: -990.2s;
    animation-duration: 165.8s;
  }
  .stars .container:nth-child(24) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.8s;
    animation-duration: 10.6s;
    background: rgba(220,220,161,0.8);
  }
  .stars .container:nth-child(25) {
    width: 3px;
    height: 3px;
    left: 97vw;
    animation-delay: -996.7333333333333s;
    animation-duration: 40.86666666666667s;
  }
  .stars .container:nth-child(25) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.8s;
    animation-duration: 10.6s;
    background: rgba(211,187,246,0.8);
  }
  .stars .container:nth-child(26) {
    width: 2px;
    height: 2px;
    left: 59vw;
    animation-delay: -999.6s;
    animation-duration: 170s;
  }
  .stars .container:nth-child(26) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.8s;
    animation-duration: 5.1s;
    background: rgba(202,209,151,0.9);
  }
  .stars .container:nth-child(27) {
    width: 2px;
    height: 2px;
    left: 0vw;
    animation-delay: -992.9s;
    animation-duration: 187.5s;
  }
  .stars .container:nth-child(27) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.3s;
    animation-duration: 40.3s;
    background: rgba(215,246,105,0.7);
  }
  .stars .container:nth-child(28) {
    width: 3px;
    height: 3px;
    left: 51vw;
    animation-delay: -999.5333333333333s;
    animation-duration: 46.53333333333333s;
  }
  .stars .container:nth-child(28) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.4s;
    animation-duration: 46.2s;
    background: rgba(242,207,245,0.7);
  }
  .stars .container:nth-child(29) {
    width: 3px;
    height: 3px;
    left: 18vw;
    animation-delay: -997s;
    animation-duration: 44.93333333333334s;
  }
  .stars .container:nth-child(29) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.4s;
    animation-duration: 5.9s;
    background: #d2aacb;
  }
  .stars .container:nth-child(30) {
    width: 1px;
    height: 1px;
    left: 38vw;
    animation-delay: -996s;
    animation-duration: 107.4s;
  }
  .stars .container:nth-child(30) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.9s;
    animation-duration: 29.8s;
    background: #caee93;
  }
  .stars .container:nth-child(31) {
    width: 3px;
    height: 3px;
    left: 22vw;
    animation-delay: -999.7333333333333s;
    animation-duration: 97.66666666666667s;
  }
  .stars .container:nth-child(31) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.2s;
    animation-duration: 27s;
    background: rgba(218,196,222,0.7);
  }
  .stars .container:nth-child(32) {
    width: 2px;
    height: 2px;
    left: 5vw;
    animation-delay: -995.7s;
    animation-duration: 180.7s;
  }
  .stars .container:nth-child(32) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.1s;
    animation-duration: 6.3s;
    background: #f2b278;
  }
  .stars .container:nth-child(33) {
    width: 3px;
    height: 3px;
    left: 88vw;
    animation-delay: -999.5333333333333s;
    animation-duration: 30.2s;
  }
  .stars .container:nth-child(33) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.6s;
    animation-duration: 17.7s;
    background: rgba(217,199,175,0.8);
  }
  .stars .container:nth-child(34) {
    width: 1px;
    height: 1px;
    left: 40.5vw;
    animation-delay: -983s;
    animation-duration: 337.6s;
  }
  .stars .container:nth-child(34) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.2s;
    animation-duration: 23.3s;
    background: rgba(234,217,127,0.7);
  }
  .stars .container:nth-child(35) {
    width: 1px;
    height: 1px;
    left: 99.5vw;
    animation-delay: -993.2s;
    animation-duration: 214.2s;
  }
  .stars .container:nth-child(35) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.6s;
    animation-duration: 30.6s;
    background: #d9f4b5;
  }
  .stars .container:nth-child(36) {
    width: 3px;
    height: 3px;
    left: 29.5vw;
    animation-delay: -998.8s;
    animation-duration: 25.400000000000002s;
  }
  .stars .container:nth-child(36) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.1s;
    animation-duration: 48.5s;
    background: #f1aecc;
  }
  .stars .container:nth-child(37) {
    width: 2px;
    height: 2px;
    left: 33.5vw;
    animation-delay: -999.5s;
    animation-duration: 44s;
  }
  .stars .container:nth-child(37) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.2s;
    animation-duration: 19.8s;
    background: rgba(251,210,158,0.8);
  }
  .stars .container:nth-child(38) {
    width: 3px;
    height: 3px;
    left: 77vw;
    animation-delay: -997.1333333333333s;
    animation-duration: 114.93333333333334s;
  }
  .stars .container:nth-child(38) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43s;
    animation-duration: 24s;
    background: #dadfbe;
  }
  .stars .container:nth-child(39) {
    width: 1px;
    height: 1px;
    left: 20vw;
    animation-delay: -998.6s;
    animation-duration: 53.8s;
  }
  .stars .container:nth-child(39) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.5s;
    animation-duration: 22.5s;
    background: rgba(233,219,193,0.8);
  }
  .stars .container:nth-child(40) {
    width: 3px;
    height: 3px;
    left: 85.5vw;
    animation-delay: -993.7333333333333s;
    animation-duration: 76.2s;
  }
  .stars .container:nth-child(40) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.3s;
    animation-duration: 9.4s;
    background: #ddfb6d;
  }
  .stars .container:nth-child(41) {
    width: 1px;
    height: 1px;
    left: 12.5vw;
    animation-delay: -986.6s;
    animation-duration: 40.2s;
  }
  .stars .container:nth-child(41) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.6s;
    animation-duration: 10.5s;
    background: rgba(202,195,203,0.9);
  }
  .stars .container:nth-child(42) {
    width: 2px;
    height: 2px;
    left: 51.5vw;
    animation-delay: -990.4s;
    animation-duration: 38.8s;
  }
  .stars .container:nth-child(42) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.3s;
    animation-duration: 24.6s;
    background: rgba(215,201,210,0.8);
  }
  .stars .container:nth-child(43) {
    width: 1px;
    height: 1px;
    left: 21vw;
    animation-delay: -993s;
    animation-duration: 366.2s;
  }
  .stars .container:nth-child(43) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.2s;
    animation-duration: 48.9s;
    background: rgba(203,156,191,0.9);
  }
  .stars .container:nth-child(44) {
    width: 3px;
    height: 3px;
    left: 92vw;
    animation-delay: -999.2s;
    animation-duration: 88.2s;
  }
  .stars .container:nth-child(44) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.6s;
    animation-duration: 5.4s;
    background: rgba(200,197,199,0.8);
  }
  .stars .container:nth-child(45) {
    width: 2px;
    height: 2px;
    left: 9vw;
    animation-delay: -997.8s;
    animation-duration: 165.1s;
  }
  .stars .container:nth-child(45) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.3s;
    animation-duration: 13.2s;
    background: rgba(233,215,186,0.8);
  }
  .stars .container:nth-child(46) {
    width: 2px;
    height: 2px;
    left: 60.5vw;
    animation-delay: -992.5s;
    animation-duration: 24.8s;
  }
  .stars .container:nth-child(46) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46s;
    animation-duration: 6.8s;
    background: rgba(225,164,122,0.7);
  }
  .stars .container:nth-child(47) {
    width: 3px;
    height: 3px;
    left: 75vw;
    animation-delay: -995.5333333333333s;
    animation-duration: 38.06666666666667s;
  }
  .stars .container:nth-child(47) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49s;
    animation-duration: 41.3s;
    background: rgba(221,226,123,0.9);
  }
  .stars .container:nth-child(48) {
    width: 1px;
    height: 1px;
    left: 80vw;
    animation-delay: -998.4s;
    animation-duration: 73.6s;
  }
  .stars .container:nth-child(48) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.5s;
    animation-duration: 18.8s;
    background: #e89fb3;
  }
  .stars .container:nth-child(49) {
    width: 3px;
    height: 3px;
    left: 93.5vw;
    animation-delay: -995.6666666666666s;
    animation-duration: 19.866666666666667s;
  }
  .stars .container:nth-child(49) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.3s;
    animation-duration: 48.9s;
    background: rgba(247,230,106,0.8);
  }
  .stars .container:nth-child(50) {
    width: 2px;
    height: 2px;
    left: 70.5vw;
    animation-delay: -990.5s;
    animation-duration: 107.5s;
  }
  .stars .container:nth-child(50) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.3s;
    animation-duration: 40.3s;
    background: rgba(231,234,182,0.7);
  }
  .stars .container:nth-child(51) {
    width: 2px;
    height: 2px;
    left: 82.5vw;
    animation-delay: -999.6s;
    animation-duration: 154.4s;
  }
  .stars .container:nth-child(51) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.9s;
    animation-duration: 48.1s;
    background: rgba(237,152,128,0.9);
  }
  .stars .container:nth-child(52) {
    width: 1px;
    height: 1px;
    left: 26vw;
    animation-delay: -994.6s;
    animation-duration: 86.8s;
  }
  .stars .container:nth-child(52) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.1s;
    animation-duration: 6.5s;
    background: #edcdda;
  }
  .stars .container:nth-child(53) {
    width: 3px;
    height: 3px;
    left: 53vw;
    animation-delay: -994.2666666666667s;
    animation-duration: 33.86666666666667s;
  }
  .stars .container:nth-child(53) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.2s;
    animation-duration: 49.2s;
    background: rgba(218,172,181,0.7);
  }
  .stars .container:nth-child(54) {
    width: 2px;
    height: 2px;
    left: 10.5vw;
    animation-delay: -992s;
    animation-duration: 23.8s;
  }
  .stars .container:nth-child(54) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.2s;
    animation-duration: 47s;
    background: #e0ddd3;
  }
  .stars .container:nth-child(55) {
    width: 1px;
    height: 1px;
    left: 52vw;
    animation-delay: -981s;
    animation-duration: 268.2s;
  }
  .stars .container:nth-child(55) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.5s;
    animation-duration: 35.9s;
    background: #ebae6d;
  }
  .stars .container:nth-child(56) {
    width: 3px;
    height: 3px;
    left: 9vw;
    animation-delay: -994.8666666666667s;
    animation-duration: 87.8s;
  }
  .stars .container:nth-child(56) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.9s;
    animation-duration: 32.1s;
    background: rgba(210,190,114,0.7);
  }
  .stars .container:nth-child(57) {
    width: 2px;
    height: 2px;
    left: 85.5vw;
    animation-delay: -996s;
    animation-duration: 185.8s;
  }
  .stars .container:nth-child(57) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.2s;
    animation-duration: 7.4s;
    background: rgba(210,253,221,0.8);
  }
  .stars .container:nth-child(58) {
    width: 3px;
    height: 3px;
    left: 88.5vw;
    animation-delay: -996.6666666666666s;
    animation-duration: 16.866666666666667s;
  }
  .stars .container:nth-child(58) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.7s;
    animation-duration: 5s;
    background: rgba(242,157,185,0.9);
  }
  .stars .container:nth-child(59) {
    width: 1px;
    height: 1px;
    left: 57.5vw;
    animation-delay: -991s;
    animation-duration: 188s;
  }
  .stars .container:nth-child(59) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.2s;
    animation-duration: 18.4s;
    background: rgba(211,198,139,0.9);
  }
  .stars .container:nth-child(60) {
    width: 2px;
    height: 2px;
    left: 86.5vw;
    animation-delay: -990.6s;
    animation-duration: 150.4s;
  }
  .stars .container:nth-child(60) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.8s;
    animation-duration: 22.4s;
    background: #d0f3c6;
  }
  .stars .container:nth-child(61) {
    width: 2px;
    height: 2px;
    left: 75.5vw;
    animation-delay: -999s;
    animation-duration: 185.9s;
  }
  .stars .container:nth-child(61) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.4s;
    animation-duration: 44.2s;
    background: rgba(206,197,172,0.7);
  }
  .stars .container:nth-child(62) {
    width: 2px;
    height: 2px;
    left: 12vw;
    animation-delay: -998.3s;
    animation-duration: 129.9s;
  }
  .stars .container:nth-child(62) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.2s;
    animation-duration: 14.2s;
    background: rgba(226,181,176,0.7);
  }
  .stars .container:nth-child(63) {
    width: 2px;
    height: 2px;
    left: 22vw;
    animation-delay: -998.5s;
    animation-duration: 124.7s;
  }
  .stars .container:nth-child(63) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.4s;
    animation-duration: 46.4s;
    background: rgba(209,170,114,0.7);
  }
  .stars .container:nth-child(64) {
    width: 3px;
    height: 3px;
    left: 62vw;
    animation-delay: -995.4666666666667s;
    animation-duration: 86.26666666666667s;
  }
  .stars .container:nth-child(64) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.4s;
    animation-duration: 13.4s;
    background: #ccf3c8;
  }
  .stars .container:nth-child(65) {
    width: 3px;
    height: 3px;
    left: 52vw;
    animation-delay: -994.6666666666666s;
    animation-duration: 61.93333333333334s;
  }
  .stars .container:nth-child(65) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.3s;
    animation-duration: 22.7s;
    background: rgba(201,230,252,0.9);
  }
  .stars .container:nth-child(66) {
    width: 2px;
    height: 2px;
    left: 84vw;
    animation-delay: -999.1s;
    animation-duration: 94.2s;
  }
  .stars .container:nth-child(66) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.8s;
    animation-duration: 31.5s;
    background: rgba(250,162,134,0.7);
  }
  .stars .container:nth-child(67) {
    width: 1px;
    height: 1px;
    left: 31.5vw;
    animation-delay: -987.2s;
    animation-duration: 195.2s;
  }
  .stars .container:nth-child(67) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.7s;
    animation-duration: 43.3s;
    background: rgba(242,173,235,0.8);
  }
  .stars .container:nth-child(68) {
    width: 3px;
    height: 3px;
    left: 7vw;
    animation-delay: -996.4s;
    animation-duration: 85.2s;
  }
  .stars .container:nth-child(68) .star {
    width: inherit;
    height: inherit;
    animation-delay: -42.3s;
    animation-duration: 18.5s;
    background: rgba(240,198,191,0.9);
  }
  .stars .container:nth-child(69) {
    width: 3px;
    height: 3px;
    left: 9vw;
    animation-delay: -998.6666666666666s;
    animation-duration: 56.333333333333336s;
  }
  .stars .container:nth-child(69) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.2s;
    animation-duration: 34.6s;
    background: rgba(235,166,200,0.9);
  }
  .stars .container:nth-child(70) {
    width: 1px;
    height: 1px;
    left: 69.5vw;
    animation-delay: -999.6s;
    animation-duration: 386.4s;
  }
  .stars .container:nth-child(70) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.5s;
    animation-duration: 44.5s;
    background: rgba(212,197,191,0.9);
  }
  .stars .container:nth-child(71) {
    width: 1px;
    height: 1px;
    left: 7vw;
    animation-delay: -992.8s;
    animation-duration: 231s;
  }
  .stars .container:nth-child(71) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.2s;
    animation-duration: 14.7s;
    background: #d9c6e9;
  }
  .stars .container:nth-child(72) {
    width: 2px;
    height: 2px;
    left: 4.5vw;
    animation-delay: -990.8s;
    animation-duration: 122.8s;
  }
  .stars .container:nth-child(72) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.8s;
    animation-duration: 45.4s;
    background: #e4b5b2;
  }
  .stars .container:nth-child(73) {
    width: 1px;
    height: 1px;
    left: 0.5vw;
    animation-delay: -998.4s;
    animation-duration: 235.6s;
  }
  .stars .container:nth-child(73) .star {
    width: inherit;
    height: inherit;
    animation-delay: -49.6s;
    animation-duration: 35.3s;
    background: #e99864;
  }
  .stars .container:nth-child(74) {
    width: 3px;
    height: 3px;
    left: 29vw;
    animation-delay: -997s;
    animation-duration: 100.73333333333333s;
  }
  .stars .container:nth-child(74) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.8s;
    animation-duration: 38.7s;
    background: rgba(250,155,255,0.9);
  }
  .stars .container:nth-child(75) {
    width: 1px;
    height: 1px;
    left: 29.5vw;
    animation-delay: -996.8s;
    animation-duration: 172.6s;
  }
  .stars .container:nth-child(75) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.6s;
    animation-duration: 18.4s;
    background: rgba(252,196,173,0.7);
  }
  .stars .container:nth-child(76) {
    width: 3px;
    height: 3px;
    left: 17.5vw;
    animation-delay: -996.4666666666667s;
    animation-duration: 78.60000000000001s;
  }
  .stars .container:nth-child(76) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.2s;
    animation-duration: 16.2s;
    background: rgba(228,243,224,0.7);
  }
  .stars .container:nth-child(77) {
    width: 2px;
    height: 2px;
    left: 80vw;
    animation-delay: -995.6s;
    animation-duration: 195s;
  }
  .stars .container:nth-child(77) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.4s;
    animation-duration: 6.1s;
    background: rgba(250,234,172,0.7);
  }
  .stars .container:nth-child(78) {
    width: 1px;
    height: 1px;
    left: 43vw;
    animation-delay: -984.8s;
    animation-duration: 150.6s;
  }
  .stars .container:nth-child(78) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.8s;
    animation-duration: 9.4s;
    background: rgba(236,232,118,0.9);
  }
  .stars .container:nth-child(79) {
    width: 3px;
    height: 3px;
    left: 12vw;
    animation-delay: -996.7333333333333s;
    animation-duration: 44.93333333333334s;
  }
  .stars .container:nth-child(79) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45s;
    animation-duration: 12.9s;
    background: rgba(234,209,119,0.8);
  }
  .stars .container:nth-child(80) {
    width: 1px;
    height: 1px;
    left: 8vw;
    animation-delay: -984.6s;
    animation-duration: 213.4s;
  }
  .stars .container:nth-child(80) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.9s;
    animation-duration: 43.4s;
    background: rgba(238,249,247,0.8);
  }
  .stars .container:nth-child(81) {
    width: 1px;
    height: 1px;
    left: 13.5vw;
    animation-delay: -981.6s;
    animation-duration: 235.6s;
  }
  .stars .container:nth-child(81) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.9s;
    animation-duration: 42.9s;
    background: #ebce7b;
  }
  .stars .container:nth-child(82) {
    width: 2px;
    height: 2px;
    left: 67vw;
    animation-delay: -999.6s;
    animation-duration: 73.9s;
  }
  .stars .container:nth-child(82) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.8s;
    animation-duration: 11.3s;
    background: #ddfbce;
  }
  .stars .container:nth-child(83) {
    width: 1px;
    height: 1px;
    left: 68.5vw;
    animation-delay: -998.2s;
    animation-duration: 214s;
  }
  .stars .container:nth-child(83) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.6s;
    animation-duration: 18.3s;
    background: #ffa9da;
  }
  .stars .container:nth-child(84) {
    width: 3px;
    height: 3px;
    left: 40vw;
    animation-delay: -996.6s;
    animation-duration: 93.66666666666667s;
  }
  .stars .container:nth-child(84) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.8s;
    animation-duration: 40.5s;
    background: rgba(237,224,177,0.9);
  }
  .stars .container:nth-child(85) {
    width: 3px;
    height: 3px;
    left: 52.5vw;
    animation-delay: -999.4s;
    animation-duration: 36s;
  }
  .stars .container:nth-child(85) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.2s;
    animation-duration: 25.6s;
    background: #ccf377;
  }
  .stars .container:nth-child(86) {
    width: 2px;
    height: 2px;
    left: 84.5vw;
    animation-delay: -998.9s;
    animation-duration: 167.8s;
  }
  .stars .container:nth-child(86) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.9s;
    animation-duration: 16.5s;
    background: rgba(209,214,106,0.9);
  }
  .stars .container:nth-child(87) {
    width: 1px;
    height: 1px;
    left: 56vw;
    animation-delay: -984.6s;
    animation-duration: 223.2s;
  }
  .stars .container:nth-child(87) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47.2s;
    animation-duration: 32.8s;
    background: rgba(233,193,143,0.8);
  }
  .stars .container:nth-child(88) {
    width: 2px;
    height: 2px;
    left: 18vw;
    animation-delay: -996.6s;
    animation-duration: 83.8s;
  }
  .stars .container:nth-child(88) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.2s;
    animation-duration: 18.6s;
    background: rgba(211,186,229,0.7);
  }
  .stars .container:nth-child(89) {
    width: 2px;
    height: 2px;
    left: 57.5vw;
    animation-delay: -991.5s;
    animation-duration: 103.2s;
  }
  .stars .container:nth-child(89) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.7s;
    animation-duration: 45.9s;
    background: #e99968;
  }
  .stars .container:nth-child(90) {
    width: 3px;
    height: 3px;
    left: 31vw;
    animation-delay: -995.6666666666666s;
    animation-duration: 103.39999999999999s;
  }
  .stars .container:nth-child(90) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.1s;
    animation-duration: 41.7s;
    background: #ccfee2;
  }
  .stars .container:nth-child(91) {
    width: 1px;
    height: 1px;
    left: 49.5vw;
    animation-delay: -984.8s;
    animation-duration: 179s;
  }
  .stars .container:nth-child(91) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.5s;
    animation-duration: 32.3s;
    background: rgba(219,183,237,0.8);
  }
  .stars .container:nth-child(92) {
    width: 1px;
    height: 1px;
    left: 67.5vw;
    animation-delay: -989.4s;
    animation-duration: 136.4s;
  }
  .stars .container:nth-child(92) .star {
    width: inherit;
    height: inherit;
    animation-delay: -45.8s;
    animation-duration: 16.4s;
    background: rgba(235,160,128,0.8);
  }
  .stars .container:nth-child(93) {
    width: 1px;
    height: 1px;
    left: 50.5vw;
    animation-delay: -984.8s;
    animation-duration: 121s;
  }
  .stars .container:nth-child(93) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.9s;
    animation-duration: 35.2s;
    background: rgba(245,187,157,0.8);
  }
  .stars .container:nth-child(94) {
    width: 1px;
    height: 1px;
    left: 85vw;
    animation-delay: -990s;
    animation-duration: 367.6s;
  }
  .stars .container:nth-child(94) .star {
    width: inherit;
    height: inherit;
    animation-delay: -40.1s;
    animation-duration: 31.9s;
    background: rgba(218,190,155,0.8);
  }
  .stars .container:nth-child(95) {
    width: 1px;
    height: 1px;
    left: 85vw;
    animation-delay: -985.6s;
    animation-duration: 330.6s;
  }
  .stars .container:nth-child(95) .star {
    width: inherit;
    height: inherit;
    animation-delay: -41.5s;
    animation-duration: 27.3s;
    background: rgba(211,162,248,0.7);
  }
  .stars .container:nth-child(96) {
    width: 1px;
    height: 1px;
    left: 58vw;
    animation-delay: -986.6s;
    animation-duration: 299.4s;
  }
  .stars .container:nth-child(96) .star {
    width: inherit;
    height: inherit;
    animation-delay: -47s;
    animation-duration: 45.4s;
    background: rgba(241,228,111,0.7);
  }
  .stars .container:nth-child(97) {
    width: 3px;
    height: 3px;
    left: 95vw;
    animation-delay: -997s;
    animation-duration: 53.86666666666667s;
  }
  .stars .container:nth-child(97) .star {
    width: inherit;
    height: inherit;
    animation-delay: -43.9s;
    animation-duration: 12.7s;
    background: rgba(213,217,120,0.9);
  }
  .stars .container:nth-child(98) {
    width: 2px;
    height: 2px;
    left: 22.5vw;
    animation-delay: -997.3s;
    animation-duration: 108s;
  }
  .stars .container:nth-child(98) .star {
    width: inherit;
    height: inherit;
    animation-delay: -44.1s;
    animation-duration: 46.3s;
    background: rgba(225,177,109,0.7);
  }
  .stars .container:nth-child(99) {
    width: 1px;
    height: 1px;
    left: 69vw;
    animation-delay: -982.6s;
    animation-duration: 161.8s;
  }
  .stars .container:nth-child(99) .star {
    width: inherit;
    height: inherit;
    animation-delay: -48.2s;
    animation-duration: 31.1s;
    background: rgba(205,156,165,0.8);
  }
  .stars .container:nth-child(100) {
    width: 2px;
    height: 2px;
    left: 28vw;
    animation-delay: -999.1s;
    animation-duration: 26.6s;
  }
  .stars .container:nth-child(100) .star {
    width: inherit;
    height: inherit;
    animation-delay: -46.2s;
    animation-duration: 41.3s;
    background: rgba(238,156,253,0.8);
  }
  @-moz-keyframes stars {
    0% {
      transform: translateY(110vh) translateZ(0);
    }
    100% {
      transform: translateY(-10vh) translateZ(0);
    }
  }
  @-webkit-keyframes stars {
    0% {
      transform: translateY(110vh) translateZ(0);
    }
    100% {
      transform: translateY(-10vh) translateZ(0);
    }
  }
  @-o-keyframes stars {
    0% {
      transform: translateY(110vh) translateZ(0);
    }
    100% {
      transform: translateY(-10vh) translateZ(0);
    }
  }
  @keyframes stars {
    0% {
      transform: translateY(110vh) translateZ(0);
    }
    100% {
      transform: translateY(-10vh) translateZ(0);
    }
  }
  @-moz-keyframes twinkle {
    0%, 80%, 100% {
      opacity: 0.7;
      box-shadow: 0 0 0 #fff, 0 0 0 #fff;
    }
    95% {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    }
  }
  @-webkit-keyframes twinkle {
    0%, 80%, 100% {
      opacity: 0.7;
      box-shadow: 0 0 0 #fff, 0 0 0 #fff;
    }
    95% {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    }
  }
  @-o-keyframes twinkle {
    0%, 80%, 100% {
      opacity: 0.7;
      box-shadow: 0 0 0 #fff, 0 0 0 #fff;
    }
    95% {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    }
  }
  @keyframes twinkle {
    0%, 80%, 100% {
      opacity: 0.7;
      box-shadow: 0 0 0 #fff, 0 0 0 #fff;
    }
    95% {
      opacity: 1;
      box-shadow: 0 0 2px #fff, 0 0 4px #fff;
    }
  }
  .example-sidenav-content{
    height: 100%;
  }