<ion-app> 
<div  (click)="home()">

  <div class="stars" >
   
    <div class="container">
      <div class="star"></div>
    </div>
  

    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
    <div class="container">
      <div class="star"></div>
    </div>
  </div>

</div>

  <ion-router-outlet></ion-router-outlet>
</ion-app>
